name: linux
on:
  push:
    branches: [ '*' ]
    tags-ignore: [ '*' ]
  pull_request:

jobs:
  perl:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - '5.20'
          - '5.22'
          - '5.30'
          - '5.36'
          - '5.38'
          - '5.40'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}

      - name: Install cpanm
        run: curl -L https://cpanmin.us | perl - App::cpanminus

      # Perl lama butuh MakeMaker baru
      - name: Update ExtUtils::MakeMaker for Perl < 5.20
        if: ${{ matrix.perl-version == '5.16' || matrix.perl-version == '5.18' }}
        run: cpanm -n ExtUtils::MakeMaker

      - name: Install dependencies
        run: |
          cpanm -n --installdeps .
          cpanm -n Test::Pod Test::Pod::Coverage TAP::Formatter::GitHubActions

      - name: Build XS
        run: |
          perl Makefile.PL
          perl -MConfig -e 'system($Config{make}) == 0 or die "$Config{make} failed";'

      - name: Run tests
        run: prove --merge --formatter TAP::Formatter::GitHubActions -b t
        env:
          TEST_POD: 1